
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(233, 233, 233);
}

nav img{
    display: flex;
    width: 10%;
    padding:auto;
}

nav ul{
    display:flex;
    list-style-type: none;
    justify-content: space-evenly;
}
nav ul a{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    text-align: center;    

}

section img{
    width: 100%;
}

footer{
    background-color: rgb(92, 91, 91);
}

footer ul a{
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 150%;
    color: cyan;
}

footer ul a:hover{
    color: maroon;
    font-family: "Oswald", sans-serif;

}

footer ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;


}

footer ul a li {
    margin: 10px;
    padding: 10px;
    font-family: "Oswald", sans-serif;

}

p{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.cuerpo img{
    width: 100%;
}

aside img{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

h1{
    font-family: "Montserrat", sans-serif;
}
h2{
    font-family: "Montserrat", sans-serif;
}
li{
    font-family: "Montserrat", sans-serif;
}

.imagen{
    display: inline-block;
    position: relative;
}
figure figcaption{
    color: rgb(105, 85, 59);
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: -1;
    padding-top: 20%;
    margin: 0;
}

.imagen img:hover{
    opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}
.list-group a{
    list-style-type: none;
    text-decoration: none;
}

#spin{
    display:none;
}

#cargando{
    display: none;
    font-family: "Condiment", cursive;
    font-size: larger;
    color: darkviolet;

}